<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
      body {
        background-color: gray;
      }
    </style>
</head>
<body>
  <h2>Consulta de cliente:</h2>
  <ul>
    <li>Nombre: {{ user.firstName }}</li>
    <li>Apellidos: {{ user.lastName }}</li>
    <li>Email: {{ user.email }}</li>
    <li>Asunto: {{ user.subject }}</li>
    <li>Texto: {{ user.message }}</li>
  </ul>
</body>
</html>