<header>
    <nav class="nav">
        <div style="margin-top:1.5rem; margin-left: 1rem; margin-bottom:1.5rem">
            <img src="/images/logo/geeky.png" style="width:150px;" alt="Logo de Geeky">
        </div>
        {{#if user}}
        <div style="margin-top:1.5rem; margin-left: 1rem; margin-bottom:1.5rem">
            <a href="/admin/logout">Logout</a>
        </div>
        {{/if}}
    </nav>
    <nav class="container">
        <ul class="nav nav-tabs nav-justified">
            <li class="active"><a href="/admin/productos">Productos</a></li>
            <li><a href="/admin/proyecto">Proyecto</a></li>
            <li><a href="/admin/equipo">Equipo</a></li>
            <li><a href="/admin/clientes">Clientes</a></li>
            <li><a href="/admin/pedidos">Pedidos</a></li>
        </ul>
    </nav>
</header>
<main>
    <section>
        <p>{{mensaje}}</p>
        <div>
            <h1 class="text-center">Productos</h1>
        </div>
        <form action="/admin/productos" method="POST" id="form" name="form" enctype="multipart/form-data">
            <div class="container">
                <input type="text" class="form-control hidden" id="id" name="_id" value="{{product._id}}">
                <input type="text" class="form-control hidden" id="images" name="imagesOld" value="{{product.images}}" multiple>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="titulo">Título</label>
                        <input type="text" class="form-control"  value="{{product.title}}" name="title" placeholder="Titulo o nombre del producto">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="descripcion">Descripción</label>
                        <input type="text" class="form-control"  value="{{product.description}}" name="description" placeholder="Descripción del producto">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="detalles">Detalles técnicos</label>
                        <input type="text" class="form-control" value="{{product.features}}" name="features" placeholder="Detalles técnicos">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="precio">Precio</label>
                        <input type="number" step="0.05" class="form-control" value="{{product.price}}" name="price" placeholder="Precio por unidad">
                    </div>
                </div>
                <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="categoria">Categoría</label>
                    <select class="form-control" name="category" value="{{product.category}}">
                        <option>{{product.category}}</option>
                        <option>Accesorios</option>
                        <option>Camisetas</option>
                        <option>Games</option>
                        <option>Tazas</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="unidades">Unidades disponibles</label>
                    <input type="number" class="form-control" name="quantity" value="{{product.quantity}}" placeholder="Cantidad de unidades disponibles">
                </div>
                </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="imagenes">Archivos de imagenes</label>
                    <input type="file" class="form-control" id="imagesNew" name="images" multiple>
                </div>
                <div class="images"></div>
                <div>
                    <label><input type="checkbox" class="form-control" name="featured" value="true"> Destacado</label><br>
                </div>
    
                {{#if product}}
                    <div class="form-group col-md-6">
                        {{!-- onclick="document.form.action='/admin/productos' document.form.submit()"                     --}}
                        <input type="submit" id="update" class="form-control" formaction="/admin/productos/update" value="Actualizar">
                    </div>
                {{else}}
                    <div class="form-group col-md-6">
                        <input type="submit" class="form-control" value="Guardar">
                    </div>
                {{/if}}
            </div>
            </div>
        </form>
    </section>

    <section class="container search-console">
        <div class="row">
            <div class="col-12">
                <form action="" class="search-form" id="search-console">
                    <div class="form-group has-feedback">
                        <label for="search" class="sr-only">Buscar</label>
                        <input type="text" class="form-control" name="search" id="search" placeholder="Buscar">
                        <span class="glyphicon glyphicon-search form-control-feedback"></span>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <section>
        <div class="product-list"></div>
    </section>
</main>
